<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.png' />
		<meta name='generator' content={Astro.generator} />
		<title>правила олбанского ирудита</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		margin: 0;
		height: 100%;
		color: gainsboro;
		padding: 2rem;
		background-color: rgb(33, 33, 33);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}
</style>
